@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* ============================== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ============================== */

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

.block{
	max-width: 390px;
	margin: 0 auto;
}

.text-1{
text-transform: uppercase;
margin: 0px 0px 8px 0px;
font-size: 16px;
font-weight: 700;
line-height: 1.5;
}

.text-2{
	margin: 0px 0px 40px 0px;
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
}

.list{
	margin: 0px 0px 48px 0px;
}

.list li{
	margin-bottom: 12px;
	line-height: 1.6;
	padding: 0px 0px 0px 30px;
}

.list li:last-child{
	margin: 0px 0px 0px 0px;
}

.list li::before{
	content: "";
	background: url("../img/Vector.svg") 0 1px / 16px no-repeat;
	display: inline-block;
	margin: 0px 16px 0px -30px;
	width: 16px;
	height: 16px;
}

.button{
	display: inline-block;
	padding: 14px 30px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);;
	color: white;
	border-radius: 4px;
	margin-bottom: 46px;
}

.lable{
	font-size: 46px;
}

.lable::after{
	content: "";
	display: block;
	height: 3px;
	width: 20%;
	margin: 10px 0 0 0;
	background-color: black;
}




/* .block {
	border: white solid 2px;
	max-width: 810px;
	margin: 152px 120px 765px 345px;
}

h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin: 0 0 40px 0;
}

.image {
	margin: 0 0 60px 0;
}

.text-one {
	margin: 0 0 24px 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}

.text-two {
	margin: 0 0 48px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

.text-three {
	margin: 0 0 48px 0px;
	padding: 0px 0px 0px 58px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;

	background: url("../img/braces.svg") 0 0 / auto no-repeat;
}

.text-four {
	margin: 0 0 24px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

.list {
	margin: 0 0 20px 0px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

.list li {
	margin: 0 0 4px 0;
	padding: 0px 0px 0px 32px;

	background: url("../img/Vector.svg") 0 6px / auto no-repeat;
}

.text-five {
	margin: 0 0 92px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

.list-two {
	margin: 0 0 48px 0px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

.list-two li {
	margin: 0 0 12px 0;
	padding: 0px 0px 0px 32px;

	background: url("../img/Vector.svg") 0 6px / auto no-repeat;
}

.text-six {
	margin: 0px 0px 8px 0px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
}

.text-seven {
	margin: 0px 0px 40px 0px;
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}

.button {
	display: inline-block;
	text-align: center;
	width: 161px;
	height: 44px;

	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;
}

.button-text {
	color: white;

	font-weight: 700;
	font-size: 14px;
	line-height: 3.14;
} */
