@import "null.css";

/* ============================== */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap");

/* ============================== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ============================== */

body {
	font-family: "Roboto Slab", serif;
	font-size: 20px;
	background-color: rgba(0, 255, 255, 0.3);
}

header,
footer {
	background-color: rgba(127, 255, 212, 0.6);
	min-height: 100px;
}

header {
	border-bottom: 3px solid black;
	text-align: center;
}

h1 {
	display: inline-block;
	margin: 0 auto;

	padding-top: 25px;
	font-size: 46px;
	font-weight: 900;
	text-shadow: 0px 0px 20px black;
}

h1::after {
	content: "";
	display: block;
	height: 4px;
	width: 40%;
	margin: 5px 0 0 0;
	background-color: black;
}

footer {
	border-top: 3px solid #000;
	text-align: center;
}

main {
	/* background-color: rgba(0, 255, 255, 0.3); */
}

.head {
	font-weight: 900;
	font-size: 46px;
	text-align: center;
	margin-bottom: 40px;
	padding-top: 15px;
}

.h2 {
	text-align: center;
}

.pseudoclass {
	display: inline-block;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	margin: 15px 0px 0px 0px;
}

.main h2:not(.pseudoclass) {
	margin: 0px 0px 20px 0px;
}

h2::before {
	content: "";
	display: block;
	height: 3px;
	width: 70%;
	margin: 0 auto 5px auto;
	background-color: black;
}

h2::after {
	content: "";
	display: block;
	height: 3px;
	width: 70%;
	margin: 10px auto 0px auto;
	background-color: black;
}

.box {
	text-align: center;
}

.in-box {
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
}

.sub-list-name {
	text-decoration: underline;
}

.sub-list li a {
	font-style: italic;
}

.sub-list li a:hover {
	margin-left: 10px;
	color: brown;
}

.main div:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

h3 {
	margin: 0px 0px 15px 80px;
	font-size: 25px;
	font-weight: 700;
	color: gray;
}

.about {
	margin: 0px 0px 10px 80px;
}

.example {
	display: inline-block;
	background-color: rgb(112, 253, 182);
	border: 1px solid black;
	max-width: 500px;
	margin: 0px 0px 20px 100px;
	padding: 10px;
	text-align: justify;
}

.example-1:hover {
	opacity: 0;
}

.example-2 {
	display: inline-block;
}
.example-2:active {
	background-color: #fff;
}

.example-3 {
	color: blue;
}
.example-3:hover {
	text-decoration: underline;
}
.example-3:visited {
	color: purple;
}

.example-4 li {
	margin-bottom: 5px;
}

.example-4 li a:focus {
	color: red;
	outline: 4px dotted red;
}

.text-example {
	display: none;
	background-color: green;
	padding: 20px;
}
.link-example {
	background-color: green;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 20px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0 5px 0 0 black;
	font-family: Arial;
}
.link-example:hover {
	margin: 1px 0px 0px 0px;
	box-shadow: 0 4px 0 0 black;
}

.text-example:target {
	display: block;
}

.example p {
	margin-bottom: 10px;
	border: 1px solid gray;
}
.fc p:first-child {
	color: red;
}

.fot p:first-of-type {
	color: red;
}

.lc p:last-child {
	color: red;
}

.lot p:last-of-type {
	color: red;
}

.nthc p:nth-child(2) {
	color: red;
}

.nthot p:nth-of-type(2) {
	color: red;
}

.not *:not(:last-child) {
	color: red;
}

.list-1,
.list-2 {
	min-width: 250px;
}

.list-2 li a {
	font-style: italic;
}

.list-2 li a:hover {
	margin-left: 10px;
	color: brown;
}

.fline::first-line{
color: red;
}

.fletter::first-letter{
	color: red;
}

.before::before{
	content: "Я before ";
	color: red;
}

.after::after{
	content: " Я after";
	color: red;
}


.button {
	display: inline-block;
	background-color: red;
	margin: 25px 0px 0px 0px;
	padding: 10px;
	color: black;
	font-weight: 900;
	font-size: 36px;
	border-radius: 30px;
	text-decoration: underline;
	outline: 5px dotted black;
	box-shadow: inset 0 0 20px black;
	box-shadow: 0 0 15px 10px red;
}
